@model ASM_APDP.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andev Web</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="wrapper">
        <form asp-controller="User" asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            <h2>Login Form</h2>

            @* Hiển thị lỗi *@
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="custom-error-box alert alert-danger alert-dismissible fade show" role="alert">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="input-field">
                <input asp-for="Username" type="text" required>
                <label asp-for="Username">Enter your Username</label>
            </div>

            <div class="input-field">
                <input asp-for="Password" type="password" required>
                <label asp-for="Password">Enter your password</label>
            </div>

            @* Dropdown chọn Role *@
            <div class="input-field">
                <select asp-for="RoleName" class="form-control">
                    <option value="Admin">Admin</option>
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>

            <br />
            <button type="submit" class="login-btn">Log In</button>

            <div class="register">
                <p>Don't have an account? <a asp-controller="User" asp-action="Register">Register</a></p>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
