@model ASM_APDP.ViewModels.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Andev Web</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>

<body>
    <div class="wrapper">
        <form asp-controller="User" asp-action="Register" method="post">
            @Html.AntiForgeryToken()
            <h2>Register Form</h2>

            <div class="input-field">
                <input asp-for="FullName" type="fullname" required>
                <label asp-for="FullName">Enter your Full Name</label>
            </div>

            <div class="input-field">
                <input asp-for="Username" type="text" required>
                <label asp-for="Username">Enter your username</label>
            </div>

            <div class="input-field">
                <input asp-for="Email" type="email" required>
                <label asp-for="Email">Enter your email</label>
            </div>

            <div class="input-field">
                <input asp-for="Password" type="password" required>
                <label asp-for="Password">Enter your password</label>
            </div>

            <div class="input-field">
                <input asp-for="Password" type="password" required>
                <label asp-for="Password">Confirm your password</label>
            </div>

            <div class="input-field">
                <input asp-for="DoB" type="date"  placeholder="Date of Birth">
            </div>

            <button type="submit" class="login-btn">Register</button>

            <div class="register">
                <p>Already have an account? <a asp-controller="User" asp-action="Login">Login</a></p>
            </div>
        </form>
    </div>
</body>

</html>
