@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        @ViewData["Title"] - Applied Programming and Design Principles
    </title>
    <style>
        body {
            /* background-image: url('~Views/Home/Picture/Home.jpg'); */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to Our Project</h1>
        <p>Applied Programming and Design Principles</p>
        <button asp-controller="User" asp-action="Logout" class="btn btn-danger"> Logout </button>
        
    </div>
</body>
</html>