@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome SUC VAT DAT</h1>
    <p>Le nhe it thoi</p>
    <a asp-controller="User" asp-action="Register" class="btn btn-success">Register Account</a>
    <a asp-controller="User" asp-action="Login" class="btn btn-warning">Login Account</a>
</div>
