@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        @ViewData["Title"] - Applied Programming and Design Principles
    </title>
    <style>
        body {
            background-image: url();
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to Our Project</h1>
        <p>Applied Programming and Design Principles</p>
        <a asp-controller="User" asp-action="Register" class="btn btn-success">Register Account</a>
        <a asp-controller="User" asp-action="Login" class="btn btn-warning">Login Account</a>
    </div>
</body>
</html>